In [1]:
import sys, os, time
from pathlib import Path

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_parquet('../data/MAG_20191122_PaperReferences_subset_parquet/')

In [4]:
len(df)

12272705

In [11]:
x = np.concatenate((df.PaperId.values, df.PaperReferenceId.values), axis=0)

In [12]:
x.shape

(24545410,)

In [13]:
x = np.unique(x)

In [14]:
x.shape

(9917133,)

In [17]:
df_ids = pd.DataFrame(x, columns=['node_name'])

In [18]:
df_ids['node_id'] = range(1, len(df_ids)+1)

In [19]:
id_map = df_ids.set_index('node_name')['node_id']

In [20]:
df['citing_id'] = df.PaperId.map(id_map)
df['cited_id'] = df.PaperReferenceId.map(id_map)

In [21]:
df

             PaperId  PaperReferenceId  citing_id  cited_id
0           36122269            608941      54716       992
1          181483046            608941     276729       992
2         2414502251            608941    7611642       992
3         2956413002            608941    9710307       992
4         1034756557            608941     522539       992
...              ...               ...        ...       ...
12272700  2147593526        2945751734    6022614   9599543
12272701  2165644307        2945751734    6369253   9599543
12272702  2127895547        2945751734    5644021   9599543
12272703  2168432963        2945751734    6422690   9599543
12272704  2096771671        2945751734    5043122   9599543

[12272705 rows x 4 columns]

In [25]:
df_ids['node_name'] = df_ids['node_name'].astype(str)

In [23]:
outfpath = Path('../data/test_out_pajek.net')
outf = outfpath.open('w')

In [26]:
quotechar = '"'
df_ids['node_name'] = quotechar + df_ids['node_name'] + quotechar

In [27]:
outf.write('*Vertices {}\n'.format(len(df_ids)))

18

In [29]:
import csv

In [30]:
df_ids[['node_id', 'node_name']].to_csv(outf, index=False, sep=' ', header=False, quoting=csv.QUOTE_NONE)

In [32]:
outf.write('*Arcs {}\n'.format(len(df)))

15

In [33]:
outf.flush()

In [34]:
df[['citing_id', 'cited_id']].to_csv(outf, index=False, sep=' ', header=False)

In [35]:
outf.close()

In [ ]:
outf.close()